@import 'nib'

a, a:link
	cursor pointer

body
	margin 0
	padding 0

table
	tfoot, tbody
		th
			border-top 1px solid #DDD

#map
	width 100%
	height 100vh

.container
	margin 0
	padding 0

.content
	margin 0
	padding 0
#content
	margin 0
	padding 0

.navbar
	margin 0
